.sign-up-div {
    margin: 200px auto;
    width: 150px;
}

.sign-up-div form {
    box-sizing: border-box;
}

.sign-up-div input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.sign-up-div button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: auto 20px;
    margin: 9px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.sign-up-div button:hover {
    opacity: 1;
}

.sign-up-div label {
    display: inline-block;
    margin:10px 0px 5px 0;
}